/*Index Stuff*/

body {
  margin: 0;
  padding: 0;


  font-family: 'Roboto', sans-serif;
}

nav {
  height: 32px;
  background-color: #599393;
  border-bottom: 1px solid black;
}

nav a {
  padding: 5px 5px;
}

.header {
  text-align: center;
  font-size: 22px;
  font-weight: 100;
  letter-spacing: -1px;
  border-bottom: 1px solid black;
  text-transform: uppercase;

}

.container{
  height: 500px;
  width: 100%;
  border-bottom: 1px solid black;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  background-color: #599393;
}

button {
	-moz-box-shadow:inset 0px -3px 7px 0px #bd782d;
	-webkit-box-shadow:inset 0px -3px 7px 0px #bd782d;
	box-shadow:inset 0px -3px 7px 0px #bd782d;
	background-color:#f79d2e;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #0b0e07;
	cursor:pointer;
	color:#ffffff;
  font-family: 'Roboto', sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:12px 25px;
}

/*Weapon Selection*/

.weapon-select {
  height: 380px;
  width: 100%;
  padding: 20px 20px;
  border: 1px solid black;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.8);
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

/*Outcome*/

.outcome-box {
  height: 380px;
  width: 100%;
  padding: 20px 20px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.player {
  margin-right: 20px;
  margin-top: 20px;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.outcome-message {
  width: 350px;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.computer {
  margin-left: 20px;
  margin-top: 20px;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
